/* Color of SSC logo: #033A83 */
/* Primary colors: Buttons, jumbotron paragraph, card headers */
/* Secondary colors: Card body text, footer text, navbar */
/* Neutral colors: body background, "lorum ipsum" text, contrast to primary colors */


$color-primary: #033A83;
$color-secondary: #888EBA;
$color-success: ;
$color-danger: ;
$color-warning: ;
$color-info: ;
$color-light: #FFF7D6;
$color-dark: #60106b;
$color-muted: ;
$color-white: ;
$color-transparent-black: rgba(0, 0, 0, 0.5);

body {
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    background-color: #F1F1E6;
   }


h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #3046C5;
}


h2 {
    color: #168581;
    font-weight: bold;
    font-size: 2rem;
  }

.card-header {
  color: #168581;
  font-weight: bold;
}

header {
    h2 {
        color: $color-pale;
    }
}

.site-footer{
    /* background-image: linear-gradient(#b7a8f8, white); */
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    background-color: #FFF7D6;
}

.row-content {
    padding: 50px 0;
    /* border-bottom: 1px ridge; */
    min-height: 200px;
}
  
/* Trick that Emmanuel showed me */
.navbar-dark {
    background-color: #168581;
  }

.card-bg {
width: 100%;
background-color: #F7F8FF;
}



.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}