// Primary colors: Logo, buttons, jumbotron paragraph, card headers
// Secondary colors: Jumbotron minor links, card body text, footer text, navbar
// Neutral colors: body background, "lorum ipsum" text, contrast to primary colors

// Color system
$blue:    #033A83 !default; // set to SSC logo color
$indigo:  #5F4300 !default;
$purple:  #A8AABC !default;
$pink:    #874100 !default;
$red:     #7B0E29!default;
$orange:  #D1A617 !default;
$yellow:  #FFF7D6 !default;
$green:   #00B389 !default;
$teal:    #006979 !default;
$cyan:    #00BDD0 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$info:          $cyan !default;
$success:       $green !default;
$danger:        $orange !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


// Body style
body {
    font-family: "Arial", sans-serif;
    background-color: $indigo;
    color: $dark;
    font-size: medium;
}

// Jumbotron styles
.jumbotron {
    background-color: $white;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    a {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        color: $secondary;
        font-size: 1rem;
    }
    
    p {
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        font-size: 1.25rem;
        color: $green;
    }
}

// Navbar styles
.navbar {
    .search {
        color: $white;
    }
}

.navbar-dark {
    background-color: $teal;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            color: $gray-400;
        }
    }
}

// Carousel styles
.row-content {
    padding: 50px 0;
    /* border-bottom: 1px ridge; */
    min-height: 200px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid $orange;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-emphasis {
    background-color: $blue;
    color: $gray-400;
}

h2 {
    color: $blue;
    font-weight: bold;
    font-size: 2rem;
}

// Accordion card styles
.card-header {
  color: $teal;
  font-weight: bold;
}

.card-bg {
    width: 100%;
    background-color: $yellow;
    }    

.card-body {
    .nav-link {
        color: $blue;
    }
}

.site-footer{
    background-image: linear-gradient($blue, $white);
    padding: 20px 0px;
}