// Primary colors: Logo, buttons, jumbotron paragraph, card headers
// Secondary colors (= lower opacity): Jumbotron minor links, card body text, footer text, navbar
// Neutral colors (some lower opacity): body background, "lorum ipsum" text, need contrast to primary colors

// ColorSpace: https://mycolor.space/?hex=%23033A83&sub=1, color palettes for #033A83 logo color


// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #033A83 !default; // set to SSC logo color
$indigo:  #4D499B !default;
$purple:  #7F58B0 !default;
$pink:    #FF88DB !default;
$red:     #7B0E29!default;
$orange:  #D1A617 !default;
$yellow:  #FFF7D6 !default;
$green:   #00B389 !default;
$teal:    #006979 !default;
$cyan:    #00BDD0 !default;


$primary:       $blue !default;
$secondary:     $gray-600 !default;
$info:          $cyan !default;
$success:       $green !default;
$danger:        $orange !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body style
body {
    font-family: "Arial", sans-serif;
    //color: $dark;
    font-size: medium;
}

// Jumbotron styles
    .jumbotron {
        font-family: "Poppins", sans-serif;
        background-color: #FFF; // Stuck using pure white because of the logo/antialiasing problem
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .custom-link {
        color: red;
        text-decoration: none;
    }
    .custom-link:hover {
        color: orange;
        text-decoration: none;
    }

    p {
        font-weight: bolder;
        font-size: 1.25rem;
        color: #7B0E29;
    }


// Navbar styles
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar {
    .search {
        color: $white;
    }
}

.navbar-dark {
    overflow: hidden;
    background-color: $teal;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            color: $gray-400;
            float: left;
            display: block;
            text-align: center;
            text-decoration: none;
        }
        .nav-link:hover {
            color: $orange;
            float: left;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    float: none;
    width: 100%;
}

#sidebyside.container {
    margin-top: 40px; 
}


// Carousel styles, delete these if I end up dropping the carousel
/* 
.row-carousel {
    padding: 50px 0;
    min-height: 200px;
}

a.carousel {
    color: $orange;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: rgba(0, 0, 0, 0.5);

}


.carousel {
    border: solid $orange;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

// ??? What is this? Next .btn-emphasis under .btn.
.btn {

}

.btn-emphasis {
    background-color: $blue;
    color: $gray-400;
}

h2 {
    color: $blue;
    font-weight: bold;
    font-size: 2rem;
}
*/


// Accordion card styles
.card-header {
    color: $teal;
    font-weight: bold;
  }
  
  .card-bg {
      width: 100%;
      background-color: $yellow;
      }    
  
  .card-body {
      .nav-link {
          color: $blue;
      }
  }

footer {
    margin-top: 50px;
}