body {
  font-family: "Arial", sans-serif;
  font-size: medium; }

.jumbotron {
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0; }

.custom-link {
  color: red;
  text-decoration: none; }

.custom-link:hover {
  color: orange;
  text-decoration: none; }

p {
  font-weight: bolder;
  font-size: 1.25rem;
  color: #7B0E29; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.navbar .search {
  color: #fff; }

.navbar-dark {
  background-color: #006979; }

.navbar-nav .nav-item .nav-link {
  color: #ced4da; }

.navbar-nav .nav-item .nav-link:hover {
  color: #D1A617; }

#sidebyside.container {
  margin-top: 40px; }

/* 
.row-carousel {
    padding: 50px 0;
    min-height: 200px;
}

a.carousel {
    color: $orange;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: rgba(0, 0, 0, 0.5);

}


.carousel {
    border: solid $orange;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

// ??? What is this? Next .btn-emphasis under .btn.
.btn {

}

.btn-emphasis {
    background-color: $blue;
    color: $gray-400;
}

h2 {
    color: $blue;
    font-weight: bold;
    font-size: 2rem;
}
*/
.card-header {
  color: #006979;
  font-weight: bold; }

.card-bg {
  width: 100%;
  background-color: #FFF7D6; }

.card-body .nav-link {
  color: #033A83; }

footer {
  margin-top: 50px; }
